* {
    font-family: 'Roboto', sans-serif;   
    background-color: #EAC926;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}

.descripcion {
    font-size: 16px;
}

.burger-menu {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

i {
    font-size: 2em;
    margin-bottom: 10px;
}

article {
    text-align: center;
}