/* Tipografia, Cuerpo de texto, fondo */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header p {
    font-size: 12px;
}

header img {
    width: 200px;
    margin: 20px 20px;
}

/* Menu hamburguesa */
body header div {
    display: block;
    width: 30px;
    background-color: #1259c3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 15px;
    text-align: center;
    font-size: 20px;
}

/* Titulares (Basado en tu última visita/Ofertas) */
main section h2 {
    font-size: 24px;
}

main {
    text-align: center;
    width: 90%;
}

main article {
    padding-top: 10px;
    padding-bottom: 10px;
}

main section article div {
    border-top: 1px solid #ebebeb;
    border: 15px 15px 15px 15px;
}

/* Precios, Descuentos, Descripciones */
.precio {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
}
.descripcion {
    font-size:16px;
}


footer {
    text-align: center;
}

footer section i {
    font-size: 2em;
    margin-bottom: 10px;
}